<main id="create_owner">
    <div class="titleinfo">
        <center><h2>Create a New Owner</h2>
        <p> Please input owner's name, email and number of dogs that they have.
        </p></center>
    </div>

    <div class="forms">
        <form id="add-owner" action="/api/create_owner" method="POST">
        <b>Name:</b><br>
        <input type="text" placeholder="Name of Owner" name="owner_name">
        <br><br>
        <b>Email:</b><br>
        <input type="text" placeholder="Email" name="owner_email">
        <br><br>
        <b>Number of Dogs:</b><br>
        <input type="text" placeholder="Number of Dogs" name="num_dogs">
        <br><br>
        <input type="submit" value="Submit">
        </form>
    </div>

</main>

