<main id="create_owner">
    <div class="titleinfo">
        <center><h2>Create a New Owner</h2>
        <p> Please input owner's name, email and number of dogs that they have.
        </p></center>
    </div>

    <form id="add-owner" action="/api/create_owner" method="POST">
        Owner's Name:<br>
        <input type="text" name="owner_name">
        <br><br>
        Owner's Email:<br>
        <input type="text" name="owner_email">
        <br><br>
        Number of Dogs:
        <input type="text" name="num_dogs">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</main>

