<main id="delete_owner">
    <div class="titleinfo3">
        <center><h2>Delete Owner</h2>
        <p> Please input the owner's name that you would like to delete.
        </p></center>
    </div>

    <div class="deleteinfo">
        <input type="text" class="input" name= "ownerName" placeholder="Name" value="{{owner_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="deleteOwner({{owner_name}})">Delete Owner</button>
    </div>
</main>
