<main id="list_owners">
  <div class="titleinfo">
    <center><h2>List of Owners or Dogs</h2>
  </div>

  <button class="btn" name="button1" id="listOwnBut" onclick="listOwners()" style="margin-top: 5%">List Owners</button>
  <button class="btn" name="button2" id="listDogBut" style="margin-top: 5%" onclick="listDogs()">List Dogs</button>
</main>

