<main id="search_owner">
    <div class="titleinfo2">
        <center><h2>Search for Owner</h2>
        <p> Please input the owner's name that you would like to search for.
        </p></center>
    </div>

    <div class="searchinfo">
        <input type="text" class="input" name= "ownerName" placeholder="Name" value="{{owner_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="searchOwner({{owner_name}})">Search for Owner</button>
    </div>
</main>
