<main id="update_owner">
    <div class="titleinfo3">
        <center><h2>Update Owner Information</h2>
        <p> Please input the owner's name, email, and number of dogs that you wish to add.
        </p></center>
    </div>

    <div class="forms">
        <b>Name:</b>
        <br>
        <input type="text" class="input" name= "ownerName" placeholder="Name" value="{{owner_name}}">
        <b>Dog's Name</b>
        <br>
        <input type="text" class="input" name= "ownerName" placeholder="Dog's Name" value="{{dog_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="updateOwner({{owner_name}}, {{dog_name}})">Update Owner Information</button>
    </div>
</main>
