<main id="update_owner">
    <div class="titleinfo3">
        <center><h2>Update Owner Information</h2>
        <p> Please input the owner's name, email, and number of dogs that you wish to add.
        </p></center>
    </div>

    <form class="deleteinfo" action="/owners/update_owner" method="POST">
        <input type="text" id="ownerName" class="input" name="ownerName" placeholder="Name of Owner to Update">
        <input type="text" class="input" name="ownerEmail" placeholder="Email">
        <input type="text" class="input" name="numDogs" placeholder="Number of Dogs">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="updateOwner()">Update Owner Information</button>
    </form>
</main>

<script>
    function updateOwner() {
        window.location = "/owners/update_owner/";
    }
</script>
