<main id="create_meet">
    <div class="titleinfo">
        <center>
            <h2>Create a New Dog Meet</h2>
            <p>
                Please input an email for the event holder and the dog meet name as well as if RSVP is necessary or if the meet is breed or size specific.
            </p>
        </center>
    </div>

     <form id="add-meet" action="/api/create_meet" method="POST">
        Meet's Name:<br>
        <input type="text" name="meet_name">
        <br><br>
        Meets's Email:<br>
        <input type="text" name="meet_email">
        <br><br>
        RSVP Required:<br>
        <input type="text" name="rsvp">
        <br><br>
        Breed Specific:<br>
        <input type="text" name="breed_specific">
        <br><br>
        Size Specific:<br>
        <input type="text" name="size_specific">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</main>
