<main id="delete_meet">
    <div class="titleinfo">
        <center>
            <h2>Delete Dog Meet</h2>
            <p>
                Please input the dog meet's name you wish to delete.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name="meetName" placeholder="Dog Meet Name" style="margin-top: 5%">
        <div class="btn" name="button1" style="margin-top: 5%">Delete Dog Meet</div>
    </div>
</main>
