<main id="dog_meet">
    <div class="titleinfo">
        <center><h2>List of Dog Meets or Dogs</h2>
    </div>

    <input class="btn" name="button1" placeholder="List Dog Meets" style="margin-top: 5%" onclick="listDogMeets()">
    <input class="btn" name="button1" placeholder="List Dogs" style="margin-top: 5%" onclick="listDogs()">
</main>
