<main id="dog_meet">
    <div class="titleinfo">
        <center><h2>List of Dog Meets or Dogs</h2>
    </div>

    <button class="btn" name="button1" style="margin-top: 5%" onclick="listDogMeets()">List Dog Meets</button>
    <button class="btn" name="button1" style="margin-top: 5%" onclick="listDogs()">List Dogs</button>
</main>
