<main id="search_meet">
    <div class="titleinfo">
        <center>
            <h2>Search for a Dog Meet</h2>
            <p>
                Please input the dog meet name that you would like to search for.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name="meetName" placeholder="Dog Meet Name" style="margin-top: 5%" value="{{meet_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="findMeet({{meet_name}})">Search for Dog Meet</button>
</div>

</main>
