<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Who Let the Dogs Out?</title>
    <meta name="description" content="Title">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

    <img src="/css/dog_pic.png" class="background"/>

    <body>
        <div class="center">
            <center><h1>Who Let the Dogs Out?</h1>
            <p>The project, Who Let the Dogs Out?, resolves a problem to
                bring together all local information to the users regarding
                breeders, dog parks, and dog walkers that want to own a dog,
                attend activities to bond with their dogs, or would like a
                person to care for their dog while they are away at work.
                This website allows for a record of dogs to be stored and
                associated with owners that allows them to see the potential
                dog walkers, dog meetups, or dog breeders that are available
                in their area. This database was deemed necessary to store
                the many different kinds and breeds of dogs that one or
                more owners may have, and to store all sorts of information
                necessary for an active community of dog owners.</p></center>
        </div>

    <body>
</html>
