<main id="add_walker">
    <div class="titleinfo">
            <center><h2>Add Dog to Dog Walker</h2>
            <p> Please input dog walker's name as well as the dog's name.
            </p></center>
        </div>

     <form class="ownerinfo" action="/walkers/add_dog" method="POST">
        <input type="text" class="input" name= "walkerName" placeholder="Name">
        <input type="text" class="input" name= "dogName" placeholder="Dog's Name" style="margin-top: 5%">
        <button class="btn" name="button1" style="margin-top: 5%" >Add Dog to Dog Walker</button>
    </form>
</main>
