<main id="add_walker">
    <div class="titleinfo">
            <center><h2>Add Dog to Dog Walker</h2>
            <p> Please input dog walker's name as well as the dog's name.
            </p></center>
        </div>

     <div class="ownerinfo">
        <input type="text" class="input" name= "walkerName" placeholder="Name" value="{{walker_name}}">
        <input type="text" class="input" name= "dogName" placeholder="Dog's Name" style="margin-top: 5%" value={{dog_name}}>
        <button class="btn" name="button1" style="margin-top: 5%" onclick="addWalkertoDog({{walker_name}}, {{dog_name}})">Add Dog to Dog Walker</button>
    </div>
</main>
