<main id="create_walker">
    <div class="titleinfo">
        <center><h2>Create a New Dog Walker</h2>
            <p> Please input dog walker's name, email and number of spots available.
            </p></center>
    </div>

    <div class="forms">
        <form id="add-walker" action="/api/create_walker" method="POST">
        Walker's Name:<br>
        <input type="text" name="walker_name">
        <br><br>
        Walker's Email:<br>
        <input type="text" name="walker_email">
        <br><br>
        Number of Spots Available:
        <input type="text" name="walker_num_spots">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    </div>

</main>
