<main id="delete_walker">
    <div class="titleinfo">
        <center><h2>Delete a Dog Walker</h2>
        <p> Please enter dog walker's name you wish to delete.
        </p></center>
    </div>

    <div class="ownerinfo">
        <input type="text" id="walkerName" class="input" name= "walkerName" placeholder="Name">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="deleteWalker()">Delete Dog Walker</button>
    </div>
</main>

<script>
    function deleteWalker() {
        var name = document.getElementById("walkerName").value;
        window.location = "/walkers/delete_walker/" + encodeURI(name);
    }
</script>
