<main id="delete_walker">
    <div class="titleinfo">
        <center><h2>Delete a Dog Walker</h2>
        <p> Please enter dog walker's name you wish to delete.
        </p></center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name= "walkerName" placeholder="Name" value="{{walker_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="deleteWalker({{walker_name}})">Delete Dog Walker</button>
    </div>
</main>
