<main id="search_walker">
    <div class="titleinfo">
        <center><h2>Search for a Dog Walker</h2>
        <p> Please input dog walker's name you wish to search for.
        </p></center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name= "walkerName" placeholder="Name" value="{{walker_name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="searchWalker({{walker_name}})">Search for Dog Walker</button>
    </div>
</main>
