<main id="update_walker">
    <div class="titleinfo">
        <center><h2>Update Dog Walker</h2>
        <p> Please update dog walker's name, email and number of spots available.
        </p></center>
    </div>

    <form class="ownerinfo" action="/walkers/update_walker" method="POST">
        <input type="text" id="walkerName" class="input" name= "walkerName" placeholder="Name of Walker to Update">
        <input type="text" class="input" name= "walkerEmail" placeholder="Email" style="margin-top: 5%">
        <input type="text" class="input" name= "numSpots" placeholder="Number of Spots Available" style="margin-top: 5%">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="updateWalker()">Update Dog Walker Information</button>
    </form>
</main>

<script>
    function updateWalker() {
        window.location = "/walkers/update_walker/";
    }
</script>
