<main id="create_breeder">
    <div class="titleinfo">
        <center>
            <h2>Create a New Breeder</h2>
            <p>
                Please input breeder's name, email, if they have dogs available, and number of dogs if applicable.
            </p>
        </center>
    </div>

     <form id="add-breeder" action="/api/create_breeder" method="POST">
        Breeder's Name:<br>
        <input type="text" name="breeder_name">
        <br><br>
        Breeder's Email:<br>
        <input type="text" name="breeder_email">
        <br><br>
        List specialized breed if any:<br>
        <input type="text" name="specialized_breeds">
        <br><br>
        Do you have dogs (yes or no)?<br>
        <input type="text" name="has_dogs">
        <br><br>
        How many dogs available do you have?<br>
        <input type="number" name="dogs_avail">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</main>
