<main id="create_breeder">
    <div class="titleinfo">
        <center>
            <h2>Create a New Breeder</h2>
            <p>
                Please input breeder's name, email, if they have dogs available, and number of dogs if applicable.
            </p>
        </center>
    </div>

    <div class="forms">
        <form id="add-breeder" action="/api/create_breeder" method="POST">
        <b>Name:</b><br>
        <input type="text" placeholder="Breeder's Name" name="breeder_name">
        <br><br>
        <b>Email:</b><br>
        <input type="text" placeholder="Breeder's Email" name="breeder_email">
        <br><br>
        <b>List specialized breed if any:</b><br>
        <input type="text" placeholder="Breed(s)" name="specialized_breeds">
        <br><br>
        <b>Do you have dogs?</b><br>
        <input type="text" placeholder="0 for No, 1 for Yes" name="has_dogs">
        <br><br>
        <b>How many dogs available do you have?</b><br>
        <input type="number" placeholder="Number of dogs available, if any" name="dogs_avail">
        <br><br>
        <input type="submit" value="Submit">
        </form>
    </div>

</main>
