<main id="deleteBreeder">

    <div class="titleinfo">
        <center>
            <h2>Delete a Breeder</h2>
            <p>
                Please input breeder's name you wish to delete.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name="breederName" placeholder="Name" value="{{name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="deleteBreeder({{name}})">Delete Breeder</button>
    </div>
</main>
