<main id="deleteBreeder">

    <div class="titleinfo">
        <center>
            <h2>Delete a Breeder</h2>
            <p>
                Please input breeder's name you wish to delete.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" id="breederName" class="input" name="breederName" placeholder="Name">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="deleteBreeder()">Delete Breeder</button>
    </div>
</main>

<script>
    function deleteBreeder() {
        var name = document.getElementById("breederName").value;
        window.location = "/breeders/delete_breeder/" + encodeURI(name);
    }
</script>