<main id="list_breeders">
    <div class="titleinfo">
        <center><h2>List Breeders</h2>
    </div>

    <button class="btn" name="button1" style="margin-top: 5%" onclick="listBreeders()">List Owners</button>
    <button class="btn" name="button1" style="margin-top: 5%" onclick="listDogs()">List Dogs</button>

</main>

