<main id="search_breeder">
    <div class="titleinfo">
        <center>
            <h2>Search for a Breeder</h2>
            <p>
                Please input breeder's name you wish to search for.
            </p>
        </center>
    </div>

    <div class="ownerinfo">
        <input type="text" class="input" name="breederName" placeholder="Name" value="{{name}}">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="searchBreeder({{name}})">Search for Breeder</button>
    </div>

</main>
