<main id="update_breeder">
    <div class="titleinfo">
        <center>
            <h2>Update Breeder Information</h2>
            <p>
                Please update breeder's name, email, if they have dogs available, and number of dogs if applicable.
            </p>
        </center>
    </div>

    <div class="forms">
        <form id="update-breeder" action="/api/update_breeder" method="POST">
        <b>Name:</b><br>
        <input type="text" placeholder="Enter Breeder's Name You Wish to Update"name="breeder_name">
        <br><br>
        <b>Breeder's Email:</b><br>
        <input type="text" placeholder="Update Email" name="breeder_email">
        <br><br>
        <b>Specialized Breeds (n/a if none):</b><br>
        <input type="text" placeholder="Update Specialized Breeds" name="specialized_breeds">
        <br><br>
        <b>Do you have dogs available (yes or no):</b><br>
        <input type="text" placeholder="Yes or No" name="has_dogs">
        <br><br>
        <b>Number of dogs available (0 if none):</b><br>
        <input type="text" placeholder="Number of Dogs Available" name="avail_dogs">
        <br><br>
        <input id="button" type="submit" value="Update Breeder">
        </form>
    </div>

</main>
