<main id="add_dog">
    <div class="titleinfo3">
        <center><h2>Add a Dog</h2>
        <p> Please input the owner's name and dog's name for the dog that you wish to add.
        </p></center>
    </div>

    <div class="deleteinfo">
        <input type="text" class="input" name= "ownerName" placeholder="Name" value="{{owner_name}}">
        <input type="text" class="input" name= "ownerName" placeholder="Dog's Name value="{{dog_name}}"">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="addDog({{owner_name}}, {{dog_name}})">Add Dog</button>
    </div>
</main>

