<main id="add_dog">
    <div class="titleinfo3">
        <center><h2>Add a Dog</h2>
        <p> Please input the owner's name and dog's name for the dog that you wish to add.
        </p></center>
    </div>

    <form class="deleteinfo" action="/dogs/add_dog" method="POST">
        <input type="text" class="input" name= "ownerName" placeholder="Owner Name">
        <input type="text" class="input" name= "dogName" placeholder="Dog's Name">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="addDog()">Add Dog</button>
    </form>
</main>

<script>
    function addDog() {
        window.location = "/dogs/add_dog";
    }
</script>
