<main id="create_dog">
    <div class="titleinfo">
            <center><h2>Create a New Dog</h2>
            <p> Please input dog's name, breed, and dog's size (small, medium, large).
            </p></center>
    </div>

    <div class="forms">
        <form id="add-dog" action="/api/create_dog" method="POST">
        <b>Name:</b><br>
        <input type="text" placeholder="Dog's Name" name="dog_name">
        <br><br>
        <b>Breed:</b><br>
        <input type="text" placeholder="Dog's Breed" name="dog_breed">
        <br><br>
       <b>Size:</b>
        <input type="text" placeholder="Small, Medium or Large" name="dog_size">
        <br><br>
        <input type="submit" value="Submit">
        </form>
    </div>
    
</main>
