<main id="create_dog">
    <div class="titleinfo">
            <center><h2>Create a New Dog</h2>
            <p> Please input dog's name, breed, and dog's size (small, medium, large).
            </p></center>
    </div>

    <form id="add-dog" action="/api/create_dog" method="POST">
        Dog's Name:<br>
        <input type="text" name="dog_name">
        <br><br>
        Dog's Breed:<br>
        <input type="text" name="dog_breed">
        <br><br>
        Dog's Size (small, medium or large):
        <input type="text" name="dog_size">
        <br><br>
        <input type="submit" value="Submit">
    </form>
    
</main>
