<main id="list_dogs">
  <div class="titleinfo">
            <center><h2>List Dogs</h2>
        </div>
  <button class="btn" name="button1" style="margin-top: 5%" onclick="listDogs()">List Dogs</button>
</main>

