<main id="search_dog">
    <div class="titleinfo">
        <center><h2>Search for a Dog</h2>
        <p> Please input dog's name that you wish to search for.
        </p></center>
    </div>

    <div class="ownerinfo">
        <input type="text" id="dogName" class="input" name="dogName" placeholder="Dog's Name">
        <button class="btn" name="button1" style="margin-top: 5%" onclick="searchDog()">Search for Dog</button>
    </div>

    <h3>Found Dogs:</h3>
    <table>
        <thead>
        <th>name</th>
        <th>breed</th>
        <th>size</th>
        </thead>
        <tbody>
            {{#each foundDogs}}
            <tr>
                <td>{{name}}</td>
                <td>{{breed}}</td>
                <td>{{size}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</main>

<script>
    function searchDog() {
        var name = document.getElementById("dogName").value;
        window.location = '/dogs/search_dog/' + encodeURI(name);
    }
</script>
