<main id="update_dog">
    <div class="titleinfo3">
    <center><h2>Update Dog Information</h2>
    <p> Please input the dog's name, dog's breed, and dog's size.
    </p></center>
    </div>

    <div class="forms">
        <form id="update-dog" action="/api/update_dog" method="POST">
        <b>Name:</b><br>
        <input type="text" placeholder="Dog's Name" name="dog_name">
        <br><br>
        <b>Breed:</b><br>
        <input type="text" placeholder="Dog's Breed" name="dog_breed">
        <br><br>
        <b>Size:</b>
        <input type="text" placeholder="Small, Medium or Large" name="dog_size">
        <br><br>
        <input type="submit" value="Submit">
        </form>
    </div>

</main>
